body {
            width: 100%;
            align-items: center;
            background-color: white;
            border-style: solid;
            border-width: 2px;
            border-radius: 5px;
            margin: 0 auto;
            font-family: "Arial";
            font-size: 14px;
            margin-top: 2%;
        }
    a.button {
        display: inline-block;
        border-radius: 4px;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 14px;
        padding: 2px;
        width: 50px;
        height: 30px;
        line-height: 30px;
        transition: all 0.5s;
        cursor: pointer;
        margin: auto;
    }
    a.button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    
    a.button span:after {
        content: '>';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
    
    a.button:hover span {
        padding-right: 25px;
    }
    
    a.button:hover span:after {
        opacity: 1;
        right: 0;
    }
    
    #content {
        position:absolute;
        top:50%;
    }
